@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: flex-end; 
    width: 90%;
}

header a{
    color: #fff;
    z-index: 20;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration-line: none;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section img {
    position: absolute;
    cursor: pointer;
}

section img:hover {
    transform: scale(1.1);
}

.line {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    z-index: 20;
    bottom: 100px;
    margin-top: 20px;
}

/* .icon {

    position: fixed;
    /* color: #fff; */
    top: 0;
    left: 0;
    z-index: 20;  /* element is more towards you */
    transform: scale(0.20);    
    cursor: pointer;
    
}

.icon:hover {
    transform: scale(0.30);
} */

